$background-primary: #fcecdd !important;
$background-secondary: #fff !important;
$color-title: #ff6701 !important;
$color-text: #fea82f;

body {
  background-color: $background-primary;
}

.title-primary {
  color: $color-title;
}

.text-main {
  color: $color-text;
}

h1 {
  position: relative;
  font-size: 6rem;
  color: $color-title;
  opacity: 0.8;
}

.hero-img {
  opacity: 0.8;
}

.card {
  background-color: $background-secondary;
}

.bg-image {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sushi_1 {
  background-image: url("../images/sushi_1.jpg");
}

.sushi_2 {
  background-image: url("../images/sushi_2.jpg");
}

.sushi_3 {
  background-image: url("../images/sushi_3.jpg");
}

.sushi_4 {
  background-image: url("../images/sushi_4.jpg");
}

.sushi-image {
  background-image: url("../images/sushi_menu_1.jpg");
}

.sashimi-image {
  background-image: url("../images/sushi_menu_2.jpg");
}

.tempura-image {
  background-image: url("../images/sushi_menu_3.jpg");
}

.btn-sushi {
  background-color: $color-title;
}

.contact-title {
  color: $color-title;
}
